.titulos {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #C7C052;
}

.difficulty {
  align-items: center;
  background-clip: padding-box;
  background-color: #D89540;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 2px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.difficulty:hover,
.difficulty:focus {
  background-color: #ff9f46;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.difficulty:hover {
  transform: translateY(-1px);
}

.difficulty:active {
  background-color: #db6d23ec;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.buttonGame {
  border: 0px;
  background-image: url('https://cdn.discordapp.com/attachments/941341178228506644/971137382520868924/unknown.png?size=4096');
}

img {
  width: 35px;
  cursor: pointer;
  /* display: flex;
  justify-content: center; */
}